DEEPSEEK_API_KEY=
IMAGE_API_KEY=
IMAGE_FALLBACK_API_URL=https://aihubmix.com/v1/images/generations
IMAGE_FALLBACK_API_KEY=
IMAGE_CACHE_DIR=output/image_cache
IMAGE_CACHE_ENABLED=1
IMAGE_API_MIN_INTERVAL_SECONDS=180
IMAGE_API_MAX_REQUESTS_PER_RUN=5
IMAGE_API_MAX_RETRIES=1
IMAGE_API_CIRCUIT_FAILURES=3
PYTHONUNBUFFERED=1
